server:
  port: 8080
  shutdown: graceful # 처리 중인 요청을 중간에 끊지 않고 안전하게 마무리하기 위함

spring:
  profiles:
    active: ${PROFILE:local}

  lifecycle:
    timeout-per-shutdown-phase: "60s" # 60초 동안 현재 처리 중인 요청을 기다림

    datasource:
      driver-class-name: com.mysql.cj.jdbc.Driver

    jpa:
      hibernate:
        ddl-auto: validate
        order_inserts: true
        order_updates: true
        jdbc:
          batch_size: 100
      properties:
        hibernate:
          format_sql: false
          show_sql: false
      database-platform: org.hibernate.dialect.MySQL8Dialect
      open-in-view: false

jwt:
  secret: ${JWT_SECRET}
  access-exp: 3600
  refresh-exp: 604800
  header: Authorization
  prefix: "Bearer "
